# KiCad temporäre und Backup-Dateien
*.csv
*-cache
*-table
*-bak
*.lck
*.zip
*.bak
*.tmp
*.kicad_prl
*-cache.lib
*-backup*
autosave-*
# Gerber- und Fertigungsdaten
*.gbr
*.gtl
*.gbl
*.gbo
*.drl
# 3D-Modelle (falls nicht lokal benötigt)
